.viewHero {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: left;
     padding-left: 24%;
     padding-right: 18%;
     color: black;
     -webkit-text-stroke: 1px black;
     -webkit-text-fill-color: white;
 }

.title{
    color: black;
    -webkit-text-stroke: 0px black;
    -webkit-text-fill-color: black;
    background-color: white;
    padding: 5px 8px;
    border-radius: 20px;
}

.viewHeroImages {
    display: flex;
    flex-direction: row;
}

.viewHeroImages img{
    object-fit: cover;
    width: 100%;
    height: auto;
}


.viewHero-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.viewHero-links .btn {
    border-radius: 40px;
    border: 2px solid black;
    padding: 14px 18px;
    text-decoration: none;
    margin: 10px 60px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.3em;
    width: 120px;
    color: black;
    text-align: center;
    -webkit-text-stroke: 0 black;
    -webkit-text-fill-color: black;
}

.viewHero-links .btn:hover {
    filter: brightness(.85);
}

.btn-edit{
    background-color: #fff200;
}

.btn-delete {
    background-color: #ff3838;
}