.viewHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 24%;
    padding-right: 18%;
    color: black;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
}

.viewHero .title{
    color: black;
    -webkit-text-stroke: 0px black;
    -webkit-text-fill-color: black;
    background-color: white;
    padding: 5px 8px;
    border-radius: 20px;
}