.form-style {
    max-width: 600px;
    margin: 50px auto;
}

.form-style label {
    display: block;
    margin: 0 0 15px 0;
}
.form-style label > span {
    width: 25%;
    font-weight: bold;
    float: left;
    padding-top: 13px;
    padding-right: 5px;
}

.form-style .input-field, .form-style .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 15px 19px;
    outline: none;
    border: 2px solid #192a56;
    border-radius: 25px;
    font-size: 0.95em;
    font-family: "Comic Sans MS", sans-serif;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    width: 72%;
}

.form-style .textarea-field {
    height:100px;
    width: 55%;
}

.buttons {
    border-radius: 40px;
    border: 2px solid black;
    padding: 16px 20px;
    text-decoration: none;
    margin: 10px 60px;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 1.2em;
    width: 120px;
    color: black;
}

.buttons:hover {
    filter: brightness(.85);
    cursor:pointer;
}

.btn-add {
    background-color: #2ecc71;
}

.btn-edit {
    background-color: #fff200;
}

.btn-cancel {
    background-color: #ff3838;
}

